---

---

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://radiokociamuzyka.github.io/">
      <img src="https://avatars.githubusercontent.com/u/207432944?s=200&v=4" style="height: 100%;">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://radiokociamuzyka.github.io/">
        Home
      </a>

      <a class="navbar-item" href="https://radiokociamuzyka.readthedocs.io">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"  href="https://radiokociamuzyka.github.io/">
            About
          </a>
          <a class="navbar-item is-selected"  href="https://radiokociamuzyka.github.io/">
            Questboard
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="https://radiokociamuzyka.pl/signup/">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="https://radiokociamuzyka.pl/login/">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>