---
// import astroLogo from '../assets/astro.svg';
// import background from '../assets/background.svg';
import { Octokit } from "@octokit/core";

const octokit = new Octokit({});
const ghZen = await octokit.request("GET /zen");
---
<div>

	{ghZen.data}
	
</div>