---
import "../assets/main.css";
import { Octokit } from "@octokit/core";

const octokit = new Octokit({});

const orgInfo = await octokit.request("GET /orgs/{org}", {
	org: "radiokociamuzyka",
});
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="https://avatars.githubusercontent.com/u/207432944?s=64&v=4" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={orgInfo.data.description} />
		<title>Radio Kocia Muzyka on GitHub</title>
	</head>
	<body>
		
		<slot />
	</body>
</html>
